

@mixin red-font {
    color: #BF1D2E;
}
@mixin red-bg {
    background-color: #BF1D2E;
}

@mixin white-font {
    color: #FFFFFF;
}
@mixin white-bg {
    background-color: #FFFFFF;
}
@mixin grey-font {
    color:  #F3F3F3;
}
@mixin grey-bg {
    background-color: #F3F3F3;
}
@mixin black-font {
    color:  #333333;
}
@mixin black-bg {
    background-color: #333333;
}

@mixin width-1250{
    max-width: 1250px;
    margin-inline: auto;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin pill{
    @include flex-center;
    padding-inline: 0.8rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 800;
    background-color: white;
}

@mixin info{
    @include flex-center;
    flex-direction: column;
    position: relative;
    bottom: 4rem;
    left: 0;   
    color: white; 
    gap: 0.3rem;
}